@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

header {
    background-color: #fff;
    padding: 20px;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fdf9f1;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 40px;
    color: #333;
}

h3 {
    text-align: center;
}

button {
    font-size: 20px;
    padding: 10px;
}

.music-grid { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.music-card {
    display: grid;
    gap: 0px;
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease-in-out;
}

.music-info {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 10px;
    margin-top: 20px;
}

.music-buttons button {
    border-color: #3758ff;
    width: 100%;
    border-radius: 10px;
    margin: 5px;
    background-color: #e3f3ff;
    font-family: Arial, sans-serif;
}

.music-show {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease-in-out;
    max-width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}

.search-container {
    text-align: left;
    margin-top: 20px;
}

#music-search {
    width: 30%;
    padding: 12px 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

form {
    font-size: 25px;
    margin-top: 20px;
}

form button {
    font-size: 10px;
    padding: 5px;
}

.music-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;

    border-bottom: 2px solid black;
}

.music-nav-left {
    display: flex;
    gap: 10px;
}

.music-nav a {
    padding: 8px 15px;

    border: 1px solid black;

    color: black;
    text-decoration: none;
}

.music-nav a:hover {
    background-color: black;
    color: white;
}

.music-image-placeholder {
    width: 80%;
    height: 300px;

    margin: 30px auto;

    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
}

.music-main-info {
    width: 80%;
    margin: 30px auto;

    display: grid;
    grid-template-columns: 200px 1fr;

    gap: 30px;
}

.music-rating {
    border: 2px solid black;
    padding: 15px;
    
    display: flex;
    flex-direction: column;

    gap: 25px;
}

.music-rating div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.music-rating span {
    font-size: 14px;
    text-transform: uppercase;
}

.music-rating strong {
    font-size: 24px;
}

.music-rating a {
    padding: 8px;

    border: 1px solid black;

    text-align: center;

    color: black;
    text-decoration: none;
}

.music-details h1 {
    margin: 0;
    font-size: 36px;
}

.music-details h2 {
    margin-top: 5px;

    font-size: 20px;
    font-weight: normal;
}

.music-details hr {
    border: none;
    border-top: 2px solid black;

    margin: 20px 0;
}

.music-details p {
    font-size: 18px;
}

.comments-section {
    width: 80%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 30px;
}

.comments-list, .comments-form {
    border: 2px solid black;
    padding: 20px;
}

.music-player {
    width: 80%;
    max-width: 1000px;
    margin: 30px auto;
}

.music-player iframe {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
}