@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

header {
    background-color: #fff;
    padding: 20px;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fdf9f1;
    margin: 0;
}

h1 {
    font-size: 40px;
    color: #333;
}

h3 {
    text-align: center;
}

button {
    font-size: 20px;
    padding: 10px;
}

.music-grid { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.music-card {
    display: grid;
    gap: 0px;
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease-in-out;
}

.music-info {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 10px;
    margin-top: 20px;
}

.music-buttons button {
    border-color: #3758ff;
    width: 100%;
    border-radius: 10px;
    margin: 5px;
    background-color: #e3f3ff;
    font-family: Arial, sans-serif;
}

.music-show {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease-in-out;
    max-width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}

.search-container {
    text-align: left;
    margin-top: 20px;
}

#music-search {
    width: 30%;
    padding: 12px 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}